
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#body {
    overflow: hidden;
}

// 结点菜单
$form-label-width: 130px;
.node-form {
    .layui-form-label {
        width: $form-label-width;
        span {
            color: #f00;
        }
    }
    .layui-input-block {
        margin-left: $form-label-width;
    }
    .select-time-row {
        display: inline-block;
    }
    .select-time-separate {
        font-size: 28px;
        text-align: center;
    }
}

// 弹出层皮肤
body .menu-skin .layui-layer-content {
    overflow: visible;
}